<br>
<div class="row">
    <div>
        <label class="radio-inline" for="radios-0" ng-class="{'text-primary bold': !pizza.category}">
              <input name="radios" id="radios-0" type="radio" hidden checked="checked" ng-model="pizza.category" value="">
              Tous ({{ ($ctrl.pizzasList).length }})
        </label>
        <label class="radio-inline" for="radios-1" ng-class="{'text-primary bold': pizza.category === 'meat'}">
              <input name="radios" id="radios-1" type="radio" hidden ng-model="pizza.category" value="meat">
              Viande ({{ ($ctrl.pizzasList | filter:{ category : "meat"}).length }})
        </label>
        <label class="radio-inline" for="radios-2" ng-class="{'text-primary bold': pizza.category === 'fish'}">
              <input name="radios" id="radios-2" type="radio" hidden ng-model="pizza.category" value="fish">
              Poisson ({{ ($ctrl.pizzasList | filter:{ category : "fish"}).length }})
        </label>
        <label class="radio-inline" for="radios-3" ng-class="{'text-primary bold': pizza.category === 'veggie'}">
              <input name="radios" id="radios-3" type="radio" hidden ng-model="pizza.category" value="veggie">
              Sans viande ({{ ($ctrl.pizzasList | filter:{ category : "veggie"}).length }})
        </label>
    </div>
</div>
<br>
<div class="row">
    <div ng-repeat="pizza in $ctrl.pizzasList | filter:pizza.category" class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ pizza.imageUrl }}" alt="" class="thumbnail">
            <div class="caption">
                <h3 class="text-center">{{ pizza.label }}</h3>
                <p>{{ pizza.description }}</p>
                <p class="text-center">
                    <a href="#" class="btn btn-success" role="button">Ajouter</a>
                    <a href="#" class="btn btn-warning" role="button">Retirer</a>
                </p>
            </div>
        </div>
    </div>
</div>