/* Sticky footer styles-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
    padding-top: 15px;
    background-color: #000000;
}

@media (min-width: 768px)  {
    .footer {
        height: 50px;
    }
}

.bold {
    font-weight: bold;
}

/* Badge */
label.text-primary > .badge {
    background-color: #337ab7;
}