/* Sticky footer styles-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
    padding-top: 15px;
    background-color: #000000;
}

@media (min-width: 768px)  {
    .footer {
        height: 50px;
    }
}

.bold {
    font-weight: bold;
}

/* Badge */
label.text-primary > .badge {
    background-color: #337ab7;
}

.logo img{
    max-height: 100px;
}

nav.row{
    border: 1px solid #ddd;
}

ul{
    margin: 5px 0 5px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul.actions{
    padding: 30px;
    justify-content: flex-end;
}

ul li{
    margin-right: 4px;
}

.header{
    margin-bottom: 15px;
}

span.red{
    color: red;
}

a img{
    max-height: 20px;
}